.product--card {
  max-width: 350px;
  height: fit-content;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
}

.product--card > a {
  text-decoration: none;
  color: inherit;
}

.product--image {
  max-width: 100%;
  border-radius: 10px 10px 0 0;
}

.product--body {
  padding: 1em;
}

.product--desc {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-indent: 3ch;
}

.sale {
  text-decoration: line-through;
}
